<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Kawin Chamnanchak</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
    <script src='main.js'></script>
</head>

<body class="background">
    <header>
        <h3>Kawin Chamnanchak</h3>
        <nav>
            <a href="/">Home</a>
            <a href="/info">Info</a>
            <a href="/rewards">Rewards</a>
        </nav>
    </header>
    <main>
        <article>
            <figure>
                <img src="../static/me_thumb-up.jpg" alt="winkawin_thumbUp">
            </figure>
            <div class="text-content">
                <h4>Ai major</h4>
                <p>Life is not enjoyable <br> if there is no you in it :)</p>
            </div>
        </article>
        <footer>
            <div class="footer-content">
                <div class="social-media">
                    <div>
                        <h4>IG:</h4>
                        <p>kawincnj</p>
                    </div>
                    <div>
                        <h4>FACEBOOK:</h4>
                        <p>Kawin Chamnanchak</p>
                    </div>
                    <div>
                        <h4>EMAIL:</h4>
                        <p>winkawin2552@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>
