<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Kawin Chamnanchak</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/info.css'>
    <script src='../static/main.js' defer></script>
</head>

<body class="background">
    <div class="page-wrapper">
        <header>
            <h3>Kawin Chamnanchak</h3>
            <nav>
                <a href="/">Home</a>
                <a href="/info">Info</a>
                <a href="/rewards">Activities</a>
            </nav>
        </header>
        <main>
            <section class="info-content">
                <h2>About Me</h2>
                <div class="info-item">
                    <h3>Name-Surname:</h3>
                    <p>Kawin Chamnanchak</p>
                </div>
                <div class="info-item">
                    <h3>Nickname:</h3>
                    <p>Win</p>
                </div>
                <div class="info-item">
                    <h3>Birthday:</h3>
                    <p>12 April 2009</p>
                </div>
                <div class="info-item">
                    <h3>Blood Type:</h3>
                    <p>B</p>
                </div>
                <div class="info-item">
                    <h3>Nationality:</h3>
                    <p>Thai</p>
                </div>
                <div class="info-item">
                    <h3>Free-Time Activities:</h3>
                    <p>Playing music, learning new code, making new things</p>
                </div>
                <div class="info-item">
                    <h3>School:</h3>
                    <p>Primary School: YSC</p>
                    <p>High School: NSSC / SPSM</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="social-media">
                    <div>
                        <h4>IG:</h4>
                        <p>kawincnj</p>
                    </div>
                    <div>
                        <h4>FACEBOOK:</h4>
                        <p>Kawin Chamnanchak</p>
                    </div>
                    <div>
                        <h4>EMAIL:</h4>
                        <p>winkawin2552@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
