<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Kawin Chamnanchak</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/rewards.css'>
    <script src='../static/main.js' defer></script>
</head>
<body class="background">
    <div class="page-wrapper">
        <header>
            <h3>Kawin Chamnanchak</h3>
            <nav>
                <a href="/">Home</a>
                <a href="/info">Info</a>
                <a href="/rewards">Activities</a>
            </nav>
        </header>
        <main>
            <section class="activities">
                <div class="activity-card">
                    <img src="../static/cira.png" alt="Cira Core Camp">
                    <p>Join the Cira-Core camp at SPSM school</p>
                </div>
                <div class="activity-card">
                    <img src="../static/fibo.png" alt="FIBO AI Camp">
                    <p>Go test at FIBO for the AI camp</p>
                </div>
                <div class="activity-card">
                    <img src="../static/olypmpic.png" alt="Olympic Camp">
                    <p>Join Olympic camp with my friend in grade 10</p>
                </div>
                <div class="activity-card">
                    <img src="../static/police.png" alt="Military Entrance">
                    <p>Can enter the Thai military</p>
                </div>
                <div class="activity-card">
                    <img src="../static/swim.png" alt="Swimming Competition">
                    <p>Join swimming competition and got gold medal</p>
                </div>
                <div class="activity-card">
                    <img src="../static/train.png" alt="Train Camp">
                    <p>Join the train camp organized by SPSM</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <div class="social-media">
                    <div>
                        <h4>IG:</h4>
                        <p>kawincnj</p>
                    </div>
                    <div>
                        <h4>FACEBOOK:</h4>
                        <p>Kawin Chamnanchak</p>
                    </div>
                    <div>
                        <h4>EMAIL:</h4>
                        <p>winkawin2552@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
